@font-face {
  font-family: "Fipps";
  src: url("./fonts/fipps/Fipps-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pokemon";
  src: url("./fonts/pokemon/Pokemon\ Hollow.ttf") format("woff2"),
    url("./fonts/pokemon/Pokemon\ Solid.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pokemon-solid";
  src: url("./fonts/pokemon/Pokemon\ Solid.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pokemon-classic";
  src: url("./fonts/pokemon-classic/Pokemon\ Classic.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}