@import "../../variables.scss";

.stats {
  display: flex;
  justify-content: center;
}

.paginator {
  display: flex;
  justify-content: center;
}

.saved {
  color: red;
}

.wrapper {
  width: auto !important;
  height: 420px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 100px;
  }
  .stats {
    font-size: small;
  }

  .paginator {
    font-size: small;
  }
}
